name: github-amd64-build

on:
  workflow_dispatch:
    inputs:
      package:
        description: 'package name'
        required: true
        default: 'lsphp83'
        type: choice
        options:
          - lsphp83
          - lsphp83-apcu
          - lsphp83-imagick
          - lsphp83-ioncube
          - lsphp83-memcached
          - lsphp83-msqpack
          - lsphp83-pear
          - lsphp83-redis
      version:
        description: 'version number'
        required: true
        type: number
      revision:
        description: 'revision number'
        required: true
        type: number        
      distro:
        description: 'distro'
        required: true
        default: 'noble'
        type: choice
        options:
          - noble
          - jammy
          - bookworm
          - bullseye
      arch:
        description: 'arch'
        required: true
        default: 'amd64'
        type: choice
        options:
          - amd64
          - arm64
      build_flag:
        description: 'dry-run or sign-key&push'
        required: true
        default: 'dry-run'
        type: choice
        options:
          - dry-run
          - push


jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: eggcold/debian-build
      options: --user root --cap-add SYS_ADMIN --security-opt seccomp=unconfined --security-opt apparmor=unconfined

    steps:
      - uses: actions/checkout@v2
      - name: Import GPG
        run: |
          gpg --version
          apt install debsigs -y
          echo "GPG_PASSWD: $GPG_PASSWD"
          echo "$GPG_PUBKEY" | gpg --import
        env: 
          GPG_PUBKEY: ${{ secrets.TEST2PUBLIC }}
          GPG_PRIKEY: ${{ secrets.TEST2PRIVATE }}
          GPG_PASSWD: ${{ secrets.TEST2PASSWORD }}     
      - name: build
        run: |
          ls -al
          pwd
          cp /root/.pbuilderrc $HOME/
          bash build.sh ${{ inputs.package }} ${{ inputs.version }} ${{ inputs.revision }} ${{ inputs.distro }} ${{ inputs.arch }} ${{ inputs.build_flag}}