name: package
on:
  workflow_dispatch:
    inputes:
      distro:
        description: 'distro'
        required: true
        default: 'noble'
        type: choice
        options:
          - noble
          - jammy
      tags:
        description: 'Purpose of Run This Workflow?'
        required: true
        type: string

jobs:
  package:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2
      - name: setup
        run: | 
          sudo ls -al
          pwd
          bash build.sh lsphp83 8.3.13 11 ${{ inputs.tags }} amd64
