name: self-host-amd64-build

on:
  workflow_dispatch:
    inputs:
      package:
        description: 'package name'
        required: true
        default: 'lsphp83'
        type: choice
        options:
          - lsphp83
          - lsphp83-apcu
          - lsphp83-imagick
          - lsphp83-ioncube
          - lsphp83-memcached
          - lsphp83-msgpack
          - lsphp83-pear
          - lsphp83-redis
          - lsphp83-igbinary
      version:
        description: 'version number'
        required: true
        type: number
      revision:
        description: 'revision number'
        required: true
        type: number        
      distro:
        description: 'distro'
        required: true
        default: 'noble'
        type: choice
        options:
          - noble
          - jammy
          - bookworm
          - bullseye
      arch:
        description: 'arch'
        required: true
        default: 'amd64'
        type: choice
        options:
          - amd64
          #- arm64
      build_flag:
        description: 'Push package to dev, or prod'
        required: true
        default: 'dev'
        type: choice
        options:
          - dev
          - prod
      Release_flag:
        description: 'Generate release file'
        required: true
        default: 'yes'
        type: choice
        options:
          - yes
          - no


jobs:
  package:
    runs-on: [self-hosted, linux, x64]
    container:
      image: eggcold/debian-build
      options: --user root --cap-add SYS_ADMIN --security-opt seccomp=unconfined --security-opt apparmor=unconfined
    steps:
      - uses: actions/checkout@v2
      - name: build
        run: |
          cp /root/.pbuilderrc $HOME/
          cp B92test-pkg $HOME/
          chmod +x $HOME/B92test-pkg
          bash build.sh ${{ inputs.package }} ${{ inputs.version }} ${{ inputs.revision }} ${{ inputs.distro }} ${{ inputs.arch }} ${{ inputs.build_flag}}
        env:
          BUILD_KEY: ${{ secrets.BUILD_KEY }}
