name: self-host-amd64-build

on:
  workflow_dispatch:
    inputs:
      package:
        description: 'package name'
        required: true
        default: 'lsphp83'
        type: choice
        options:
          - '"lsphp83"'
          - '"lsphp83-apcu"'
          - '"lsphp83-imagick"'
          - '"lsphp83-ioncube"'
          - '"lsphp83-memcached"'
          - '"lsphp83-msgpack"'
          - '"lsphp83-pear"'
          - '"lsphp83-redis"'
          - '"lsphp83-igbinary"'
          - '"lsphp83","lsphp83-apcu","lsphp83-imagick","lsphp83-ioncube","lsphp83-msgpack","lsphp83-memcached","lsphp83-pear","lsphp83-redis","lsphp83-igbinary"'
      version:
        description: 'version number'
        type: number
      revision:
        description: 'revision number'
        type: number        
      distro:
        description: 'distro'
        required: true
        default: 'noble'
        type: choice
        options:
          - '"noble"'
          - '"jammy"'
          - '"focal"'
          - '"bookworm"'
          - '"bullseye"'
          - '"buster"'
          - '"noble","jammy","focal","bookworm","bullseye","buster"'

jobs:
  package:
    runs-on: [self-hosted, linux, x64]
    container:
      image: eggcold/debian-build
      options: --user root --cap-add SYS_ADMIN --security-opt seccomp=unconfined --security-opt apparmor=unconfined
    strategy:
      matrix:
        package: ${{ fromJSON(format('[{0}]', inputs.package)) }}
        distro: ${{ fromJSON(format('[{0}]', inputs.distro)) }}
    steps:
      - uses: actions/checkout@v2
      - name: build with main branch
        if: github.base_ref == 'main' || github.ref == 'refs/heads/main'
        run: |
          cp /root/.pbuilderrc $HOME/
          cp B92test-pkg $HOME/
          chmod +x $HOME/B92test-pkg
              bash build.sh ${{ matrix.package }} ${{ matrix.distro }} amd64 dev yes
        env:
          BUILD_KEY: ${{ secrets.BUILD_KEY }}
          version: ${{ inputs.version }}
          revision: ${{ inputs.revision }}